body {
  margin: 0.7rem auto;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0f001c !important;
  color: white !important;
  box-sizing: border-box;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito";
}

p {
  color: white;
}

/* Containers */
#root {
  margin: 10px auto;
  max-width: 1200px;
  text-align: center;
}

/* Sections */

.colored-section {
  color: white;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.carousel-item img {
  width: 100%;
  display: inline-block;
  pointer-events: none;
  min-height: 600px;
  min-width: 1000px;
}

.coloredSection {
  color: white;
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
}

.category-btn {
  margin-bottom: 3rem;
}
.category-item {
  transition: all 0.2s ease-in-out;
}

.category-item:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
  z-index: 2;
}
.category-item .col-3 {
  padding: 0;
}
img {
  width: 100%;
}

.carousel-control-prev {
  margin-left: -5%;
}

.carousel-control-next {
  margin-right: -5%;
}
.testimonial-image {
  width: 100%;
}

#testimonials {
  margin-bottom: 2.5rem;
}

/* Navigation Bar */

#navbarElement {
  margin-right: 0;
  padding-right: 0;
  text-align: right;
  position: absolute;
  width: auto;
  left: 67%;
  transform: translateX(-0%);
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.7);
}

.navbar {
  padding: 0 0 1.5rem;
}

#logo {
  width: 10rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Nunito";
}

.nav-link:hover {
  text-decoration: underline;
}

.active {
  text-decoration: underline;
  color: rgb(255, 255, 255);
}

/* Footer Section */
footer {
  border-top: 1px solid whitesmoke;
  opacity: 0.7;
}
.copyright {
  margin: 10px 0;
  padding-left: 0;
  text-align: left;
}

.social-icons {
  text-align: right;
  margin-right: 0px;
}

.social-icon {
  margin: 10px 10px;
}

#login_form {
  margin: 0 auto;
  padding: 10%;
}

/* Trivia */
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  max-width: 300px;
  width: 100%;
}

#trivia_part {
  background-image: url("/public/images/science_qb.png");
  max-width: 1200px;
  width: 100%;
  height: 600px;
  padding: 10%;
  margin: 2% auto;
}

/* Extra Responsive Content*/

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
  }
} 